@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
.dashboard {
    padding: 10px;
}
.controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.dashboard h2 {
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.plots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media (max-aspect-ratio: 1/1) {
    .plots {
        flex-direction: column;
    }
}
